<!-- <%- include("../partials/htmlHead") %> -->

<h1>Create a New Monster</h1>

<form action="/monsters" method="POST">
  <label for="name">Monster's Name</label>
  <input type="text" name="name" id="name" placeholder="Monster's Name" required>

  <label for="classification">Monster Classification</label>
  <select name="classification" id="classification" optional>
    <option value="folkloric">Folkloric<span>Creatures originating from myths, legends, and folklore.</span></option>
    <option value="supernatural">Supernatural<span>Monsters defying the laws of science.</span></option>
    <option value="humanoid">Humanoid<span>Monsters with a Human-like form, including mythological races.</span></option>
    <option value="construct">Constructs<span>Creatures made from inanimate materials.</span></option>
    <option value="alien">Alien<span>Monsters that come from other planets, dimensions, or times.</span></option>
    <option value="undead">Undead<span>Reanimated corpse or spirits.</span></option>
    <option value="dragon">Dragon-like<span>Large, reptilian creatures.</span></option>
    <option value="bestial">Bestial<span>Animalistic monsters, including beasts, insects, and giants.</span></option>
    <option value="elemental">Elementals<span>Creatures made of elements like fire, water, or earth.</span></option>
  </select>

  <label for="region">Region</label>
  <input type="text" name="region" id="region" placeholder="Region" optional>

  <label for="lore">Background Information</label>
  <textarea name="lore" id="lore" placeholder="AAAH! A MONSTER!"></textarea>

  <button type="submit">Add to Bestiary</button>
</form>

