<%- include("../partials/htmlHead") %>
<%- include("../partials/nav") %>

<h1>Create a New Monster</h1>

<form action="/bestiary" method="POST" enctype="multipart/form-data">

  <label for="file">Upload a Photo</label>
  <div class="image-preview">
    <input type="file" name="file" id="file" accept="image/png, image/jpeg, image/jpg, img/svg">
  </div>

  <script>
    const input = document.getElementById("file");
    const imagePreview = document.querySelector(".image-preview");
    
    const updateImageDisplay = () => {
      const imageUrl = URL.createObjectURL(input.files[0])
      imagePreview.style.backgroundImage = `url(${imageUrl})`;
    }

    // Change event found in (https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/input/file)
    input.addEventListener("change", updateImageDisplay)
  </script>

  <label for="name">Monster's Name</label>
  <input type="text" name="name" id="name" placeholder="Monster's Name" required>

  <label for="classification">Monster Classification</label>
  <select name="classification" id="classification" optional>
  <% const classifications=["null", "folkloric", "supernatural" , "humanoid" , "construct" , "undead" , "dragon" , "bestial", "elemental", "none"] %>
  <% classifications.forEach(classification => { %>
    <% if (classification === "null") { %>
      <option value="" selected disabled hidden>Select a Classifications</option>
    <% } else { %>
      <option value="<%= classification %>"><%= classification %></option>
    <% } %>
  <% }) %>
  </select>

  <label for="region">Region</label>
  <input type="text" name="region" id="region" value="Global" optional>


  <label for="lore">Background Information</label>
  <textarea name="lore" id="lore" optional>AAH! A Scary Monster</textarea>

  <button type="submit">Add to Bestiary</button>
</form>

